*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;    
}

body{
    background-image: linear-gradient(to right, red, yellow, green);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#myVideo {
    height: 80%;
    width: 100%;
    margin-bottom: -5px;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.btn{
    height: 100px;
    width: calc(100%/2);
    float: left;
    font-size: 32px;    
}

#keme{
    margin-bottom: 100px;
}

#yes1,
#yes2{
    background-color: green;
    color: white;
    border: 3px solid white;    
}

#no1,
#no2{
    background-color: red;
    color: white;
    border: 3px solid white;
} 
.h1{
    font-stretch: 100%;
    font-size: 80px;
    color: white;
    text-align: center;
}

.rounds,
.next-rounds,
.facts,
.quit,
.end,
.yawna{
    height: 500px;
    width: 80%;
    border: 1px solid black;
    margin: 20px auto;
    background-color:rgba(0, 0, 0, 80%);  
    color: white;
    text-align: center;
    padding: 10px;
}

.facts,
.yawna{
    padding: 50px;
    font-size: 32px;
}

.lavarn{
    font-size: 40px;
    background-color: green;
    margin-top: 50px;
    margin: 50px;
}
.bawi{
    font-size: 40px;
    background-color: red;
    margin-top: 50px;
}

.next-rounds,
.facts,
.end,
.quit,
.yawna{
   display: none;
}

/* .end,
#round10{
    display: block;
} */


.question{
    height: 100px;
    width: 100%;
    margin-top: 10px;
    font-size: 32px;
}

.answers{
    width: calc(100%/2);
    float: left;
}

.ansbtn,
.ansbtnwrong{
    width: 200px;
    height: 100px;
    margin: 20px;
}

.quit,
.end{
    font-size: 50px;
    margin-top: 50px;
}